@import url("_core/css/temas_colores_fuentes.css");

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

html{
   font-size: 62.5%;
   scroll-behavior: smooth;
}


   /*Habria que cambiar el tamaño del beakpoint porque 
   queda mal como esta :p*/
@media screen and (min-width:60em){
   #seccion-categoria {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .header__list {
      display: flex;
      flex-wrap: wrap;
   }

   #footer-principal {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .articulo-categoria {
      max-width: 30%;
   }

   #navegacion-categoria a {
      border-right: 1px solid;
      border-color: var(--light-color-acento-1);
   }
}

@media screen and (max-width:60em) {
   #navegacion-categoria {
      display: flex;
      flex-wrap: wrap;
   }

   .header__list {
      border-left: 1px solid;

   }

   #navegacion-categoria a {
      width: 100%;
      border-bottom: 1px solid;
      border-color: var(--light-color-acento-1);
   }

   #navegacion-categoria a:last-child {
      padding-top: 0em;
   }

   .item-valor-nombre {
      font-size: larger;
   }
   
   .item-valor-autor {
      font-size: larger;
   }
}

body{
   background-color: var(--background-light);
   font-family: var(--bodyFont);
   color: var(--text-light);
   font-size: 1.4rem;

}

img{
   object-fit: cover;
}

ul{
   list-style: none;
}

a{
   text-decoration: none;
   color: unset;
}

input{
   background-color: unset;
   border: none;
   outline: none;
   color: var(--text-light);
}

svg{
 fill: var(--textColor);
 transform: scale(1.1);
 cursor: pointer;
 height: 2.5rem;
 width: 2rem;
}

[class$="__container"] {
 max-width: 120rem;
 margin: 0 auto;
 width: 90%;
}

#encabezado-principal {
   background-color: var(--background-light);
   position: sticky;
   width: 100%;
   z-index: 1;
   top: 0;
   padding: 2.5rem 0;
}

.header__nav{
   display: grid;
   align-items: center;
   justify-content: space-between;
   grid-template-columns: max-content 35rem max-content;
}

.header__logo{
   height: 8rem;
   width: 8rem;
}

.header__form{
   border-bottom: .2rem solid var(--text-light);
   height: max-content;
   padding-bottom: 1rem;
   gap: 1.5rem;
}

.header__input{
   border: none;
   outline: none;
}

.header__list{
   gap: 1rem;
   padding: 10px;
   align-items: center;
   justify-content: space-between;
}

.header__item{
   display: flex;
   gap: 1rem;
   align-items: center;
}

.header__item:hover {
   color: var(--light-color-acento-2);
}



#navegacion-categoria {
   background-color: var(--light-color-acento-3);
   font-family: var(--subtitlesFont);
   text-align: center;
   gap: 2.5rem;
   padding: 2.5rem;
   justify-content: center;
}

#navegacion-categoria a {
   padding: 10px 20px;
   color: var(--background-light);
   text-decoration: none;
   font-weight: 700;
}

#navegacion-categoria a:hover {
   color: var(--light-color-acento-1);   
}

#navegacion-categoria a:active {
   color: var(--light-color-acento-2);   
}

#navegacion-categoria a:last-child {
   border: hidden;
}

#seccion-categoria {
   min-height: 720px;
   padding: 5px;
   justify-content: center;
   gap: 2.5rem;
   grid-template-columns: repeat(3,1fr);
}

.articulo-categoria {
   padding: 5px;
   margin: 0 auto 20px;
}

.item-valor-nombre {
   font-weight: bold;
   padding: 0.5em;
   border-bottom: 1px solid;
   border-color: var(--textColor);
}

.item-valor-autor {
   padding: 0.5em;
}

#qr-code {
   width:100px;
   height:100px;
   display: block;
   margin: auto;
}

.item-valor-portada {
   max-width: 100%;
   display: block;
   margin: auto;  
}

.logo_Header {
   max-width: 15%;
   margin: auto;
}

.item-valor-nombre{
   font-family: var(--subtitlesFont);
}

#footer-principal {
   background-color: var(--light-color-acento-1);
   color: var(--titlesFont);
   padding: 20px;
}

#footer-principal-centro {
   padding: 5px;
   border: 1px dashed;
   border-color: var(--bodyFont);
}
/* Footer */

#footer-principal {
   background-color: var(--background-light);
   display: grid;
   gap: 2.5rem;
   justify-content: center;
   grid-template-columns: repeat(3,1fr);
   max-width: 120rem;
   margin: 0 auto;
   width: 90%;
}

.footer__subtitle{
   margin: 0 0 2.5rem 0;
}

.footer__list{
   display: grid;
   gap: 2.5rem;
}

.footer__link{
   text-transform: uppercase;
}