#categoria-seccion {
   min-height: 720px;
   background-color: orange;
}

#encabezado-principal {
   background-color: red;
   color: white;
}

#footer-principal {
   background-color: blue;
   color: white;
}

/* El estilo 'categoria-articulo' se genera junto con los datos. Representa cada item */
.categoria-articulo {
	
}
